<!DOCTYPE html>
<html>
<%- include("../common/header", {relative:"../../", styles: [{build:"css/sub", links:["css/sub/sub.css"]}]}) %>
<body>
    This is ejs sub page !simona
</body>
<%- include("../common/footer", {relative:"../../", scripts: [{build: "", links: ["js/sub/sub.js"]}]}) %>

</html>
