@charset "UTF-8";
@import "variables";
@import "../../../sass/func";

.mc-content {
    padding-top: pxToRem(243px);
    padding-bottom: pxToRem(266px);
    .club-header {
        background-image: url("../images/mycard/bg_btns.png") !important;
        height: pxToRem(121px) !important;
        background-size: 100% 100% !important;
        padding-left: pxToRem(100px);
        .icon-title {
            display: block;
            background: url("../images/club/title.png") no-repeat center;
            background-size: contain;
            width: pxToRem(146px);
            height: pxToRem(54px);

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .mc-btn-wrapper {
        background-image: url("../images/mycard/bg_btns.png");
        width: 100%;
        height: pxToRem(124px);
        background-size: 100%;
        position: absolute;
        left: 0;
        top: pxToRem(119px);
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: pxToRem(64px);
        font-size: pxToRem(48px);
        color: #fff;
        font {
            color: #CABEB5;
        }
       .icon-fresh {
           background: url("../images/club/refresh.png") no-repeat center;
           background-size: contain;
           width: pxToRem(65px);
           height: pxToRem(72px);

           position: absolute;
           right: pxToRem(30px);
       } 
    }
    .content-main {
        .room {
            position: relative;
            width: pxToRem(710px);
            height: pxToRem(232px);
            background-color: rgba(0, 0, 0, .35);
            border: pxToRem(4px) solid #8F7269;
            border-radius: 5px;
            margin:  0 auto pxToRem(24px);
            color: #B1A7A7;
            font-size: pxToRem(28px);
            padding: 0 pxToRem(12px);
            .top {
                width: 100%;
                height: pxToRem(95px);
                background: url("../images/club/split.png") no-repeat bottom;
                background-size: pxToRem(621px) pxToRem(3px);
                display: flex;
                align-items: center;
                margin-bottom: pxToRem(8px);
                .info-avator-wrapper {
                    width: pxToRem(75px);
                    height: pxToRem(75px);
                    margin-right: pxToRem(18px);
                }
                .room-name {
                    flex: 1;
                }
                .room-count {
                    width: pxToRem(100px);
                }
            }
            .bottom {
                padding: 0 pxToRem(20px);
                .icon-txt {
                    display: inline-block;
                    width: pxToRem(33px);
                    height: pxToRem(33px);
                    line-height: pxToRem(33px);
                    border-radius: pxToRem(60px);
                    background-color: #fff;
                    color: #602FD3;
                    font-size: pxToRem(28px);
                    text-align: center;
                    font-weight: 400;
                    margin-right: pxToRem(20px);
                }
            }
            .row {
                display: flex;
                line-height: pxToRem(33px);
                margin-bottom: pxToRem(14px);
                .col {
                    min-width: pxToRem(168px);
                }
            }
            .btn-join {
                background: url("../images/club/btn_join.png") no-repeat center;
                background-size: contain;
                width: pxToRem(157px);
                height: pxToRem(72px);

                position: absolute;
                right: pxToRem(57px);
                bottom: pxToRem(34px);
            }
        }
    }
    .club-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: pxToRem(266px);
        .btn-groups {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: pxToRem(71px);
            padding-top: pxToRem(2px);
            overflow: auto;
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, .6) inset;
            font-size: 0;
            white-space:nowrap; 
            // display: flex;
            // align-items: center;
            .btn {
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: center;

                margin-right: pxToRem(44px);
                height: pxToRem(69px);
            }
            .gametype {
                background-image: url("../images/club/btn_gametype.png");
                width: pxToRem(100px);
            }
            .create {
                background-image: url("../images/club/btn_create.png");
                width: pxToRem(60px);
            }
            .score {
                background-image: url("../images/club/btn_score.png");
                width: pxToRem(57px);
            }
            .dismiss {
                background-image: url("../images/club/btn_dismiss.png");
                width: pxToRem(79px);
            }
            .member {
                background-image: url("../images/club/btn_member.png");
                width: pxToRem(67px);
            }
            .found {
                background-image: url("../images/club/btn_found.png");
                width: pxToRem(70px);
            }
            .cfdf {
                background-image: url("../images/club/btn_cfdf.png");
                width: pxToRem(99px);
            }
            .jfph {
                background-image: url("../images/club/btn_jfph.png");
                width: pxToRem(100px);
            }
            .sf {
                background-image: url("../images/club/btn_sf.png");
                width: pxToRem(69px);
            }
            .detail {
                background-image: url("../images/club/btn_detail.png");
                width: pxToRem(52px);
                margin-right: -5px;
            }
        }
        .room-groups {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: pxToRem(190px);
            font-size: 0;
            .scroll-wrapper {
                width: pxToRem(580px);
                height: 100%;
                white-space:nowrap; 
                overflow: auto;
                padding: pxToRem(25px) 0 0 pxToRem(8px);
            }
            .room {
                display: inline-block;
                background: url("../images/club/bg_room.png") no-repeat center;
                background-size: contain;
                width: pxToRem(118px);
                height: pxToRem(159px);
                vertical-align: middle;
                margin-right: pxToRem(18px);
                margin-top: pxToRem(2px);
                color: #fff;
                font-size: pxToRem(17px);
                text-align: center;

                position: relative;
                &:after {
                    content: '';
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: pxToRem(98px);
                    height: pxToRem(98px);
                    position: absolute;
                    top: -1px;
                    left: -1px;
                }
                &.normal {
                    &:after {
                        background-image: url("../images/club/label_pt.png");
                    }
                }
                &.game {
                    &:after {
                        background-image: url("../images/club/label_bs.png");
                    }
                }
                &.active {
                    &:before {
                        content: '';
                        background: url("../images/club/border2.png") no-repeat center;
                        background-size: contain;
                        width: pxToRem(118px);
                        height: pxToRem(185px);

                        position: absolute;
                        bottom: pxToRem(2px);
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }

            .my-info {
                &:before {
                    content: '';
                    width: pxToRem(118px);
                    height: pxToRem(161px);
                    background: url("../images/club/border1.png") no-repeat center;
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .grade {
                    font-size: pxToRem(20px);
                    padding-top: pxToRem(10px);
                }
            }

           .icon-roomcard {
               background: url("../images/club/roomcard.png") no-repeat center;
               background-size: contain;
               width: pxToRem(120px);
               height: pxToRem(123px);
               position: absolute;
               bottom: pxToRem(12px);
               left: pxToRem(-8px);
           }
           .icon-cup {
               @extend .icon-roomcard;
                background: url("../images/club/cup.png") no-repeat center;
                background-size: contain;
                width: pxToRem(131px);
                height: pxToRem(126px);
            }
            .add {
                position: absolute;
                right: pxToRem(20px);
                bottom: pxToRem(2px);
                &:after {
                    content: '';
                    background: url("../images/club/add.png") no-repeat center;
                    background-size: contain;
                    width: pxToRem(83px);
                    height: pxToRem(83px);

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .info-avator-wrapper {
            width: pxToRem(90px);
            height: pxToRem(90px);
            margin: pxToRem(6px) auto 0;
        }
    }

    @at-root .create-room-popup {
        .game-list-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            .icon-select {
                display: block;
                background: url("../images/club/select.png") no-repeat center;
                background-size: contain;
                width: pxToRem(64px); 
                height: pxToRem(64px);
                &.hide {
                    transform: scale(-1, -1);
                }
            }
            .game-list {
                position: relative;
                background: url("../images/club/bg_room.png") no-repeat center;
                background-size: 100% 100%;
                width: pxToRem(218px);
                height: pxToRem(320px);
                font-size: pxToRem(32px);
                color: #fff;
                font-weight: bold;
                text-shadow: 0 1px rgba(195,132,87,1), 1px 0 rgba(195,132,87,1), -1px 0 rgba(195,132,87,1), 0 -1px rgba(195,132,87,1);
                box-sizing: border-box;
                .game-list-scroll {
                    position: absolute;
                    top: pxToRem(20px);
                    bottom: pxToRem(25px);
                    right: pxToRem(18px);
                    left: pxToRem(18px);
                    box-sizing: border-box;
                    overflow: auto;
                }
                .game-list-item {
                    margin-bottom: pxToRem(20px);
                    height: pxToRem(46px);
                    line-height: pxToRem(46px);
                    &.active {
                        background: url("../images/club/select_active.png") no-repeat center;
                        background-size: 100% 100%;
                    }
                }
            }

        }
        .btn-save {
            background:url("../images//club/btn_save.png") no-repeat center;
            background-size: contain;
            width: pxToRem(274px);
            height: pxToRem(87px);
            margin: pxToRem(30px) auto 0;
        }
    }
}

.popup-create-club {
    .content-bg.content-create-club {
        width: pxToRem(664px);
        height: pxToRem(470px);
        background-size: 100% 100%;
        .icon-close {
            top: 0;
            right: 0;
            transform: translate(30%, -20%);
        }
        .txt-create-club {
            display: block;
            background: url("../images/club/txt_create_club.png") no-repeat center;
            background-size: contain;
            width: pxToRem(273px);
            height: pxToRem(60px);
            margin: pxToRem(74px) auto pxToRem(69px);
        }
        .input-wrapper {
            text-align: center;
        }
        .common-input {
            width: pxToRem(298px);
            height: pxToRem(70px); 
            color: #E1E1E1;
        }
        .btn-confirm-yellow {
            margin: pxToRem(82px) auto 0;
        }
    }
}
.popup-create-success {
    .content-bg.content-create-success{
        width: pxToRem(664px);
        height: pxToRem(343px);
        background-size: 100% 100%;
        .msg {
            width: pxToRem(280px);
            height: pxToRem(60px);
            line-height: pxToRem(60px);
            color: #fefefe;
            font-size: pxToRem(32px);
            text-align: center;
            margin: pxToRem(60px) auto pxToRem(90px) ;
            background-color: #976A43;
            border-radius: 5px;
        }
    }
    .btn-confirm-blue {
        margin: 0 auto;
    }
}
.hidden {
    display: none !important;
}
// icon
