@charset "UTF-8";
@import "variables";
@import "../../../sass/func";

.mc-content {
    padding-top: pxToRem(243px);
    padding-bottom: pxToRem(266px);
    .club-header {
        background-image: url("../images/mycard/bg_btns.png") !important;
        height: pxToRem(121px) !important;
        background-size: 100% 100% !important;
        padding-left: pxToRem(100px);
        .icon-title {
            display: block;
            background: url("../images/club/title.png") no-repeat center;
            background-size: contain;
            width: pxToRem(146px);
            height: pxToRem(54px);

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .mc-btn-wrapper {
        background-image: url("../images/mycard/bg_btns.png");
        width: 100%;
        height: pxToRem(124px);
        background-size: 100%;
        position: absolute;
        left: 0;
        top: pxToRem(119px);
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: pxToRem(64px);
        font-size: pxToRem(48px);
        color: #fff;
        font {
            color: #CABEB5;
        }
       .icon-fresh {
           background: url("../images/club/refresh.png") no-repeat center;
           background-size: contain;
           width: pxToRem(65px);
           height: pxToRem(72px);

           position: absolute;
           right: pxToRem(30px);
       } 
    }
    .content-main {
        position: relative;
        .room {
            position: relative;
            width: pxToRem(710px);
            height: pxToRem(232px);
            background-color: rgba(0, 0, 0, .35);
            border: pxToRem(4px) solid #8F7269;
            border-radius: 5px;
            margin:  0 auto pxToRem(24px);
            color: #B1A7A7;
            font-size: pxToRem(28px);
            padding: 0 pxToRem(12px);
            .top {
                width: 100%;
                height: pxToRem(95px);
                background: url("../images/club/split.png") no-repeat bottom;
                background-size: pxToRem(621px) pxToRem(3px);
                display: flex;
                align-items: center;
                margin-bottom: pxToRem(8px);
                .info-avator-wrapper {
                    width: pxToRem(75px);
                    height: pxToRem(75px);
                    margin-right: pxToRem(18px);
                }
                .room-name {
                    flex: 1;
                }
                .room-count {
                    width: pxToRem(100px);
                }
            }
            .bottom {
                padding: 0 pxToRem(20px);
                .icon-txt {
                    display: inline-block;
                    width: pxToRem(33px);
                    height: pxToRem(33px);
                    line-height: pxToRem(33px);
                    border-radius: pxToRem(60px);
                    background-color: #fff;
                    color: #602FD3;
                    font-size: pxToRem(28px);
                    text-align: center;
                    font-weight: 400;
                    margin-right: pxToRem(20px);
                }
            }
            .row {
                display: flex;
                line-height: pxToRem(33px);
                margin-bottom: pxToRem(14px);
                .col {
                    min-width: pxToRem(168px);
                }
            }
            .btn-join {
                background: url("../images/club/btn_join.png") no-repeat center;
                background-size: contain;
                width: pxToRem(157px);
                height: pxToRem(72px);

                position: absolute;
                right: pxToRem(57px);
                bottom: pxToRem(34px);
            }
        }
    }
    .club-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: pxToRem(266px);
        .btn-groups {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: pxToRem(71px);
            padding-top: pxToRem(2px);
            overflow: auto;
            box-shadow: 0 0 20px 0px rgba(255, 255, 255, .6) inset;
            font-size: 0;
            white-space:nowrap; 
            // display: flex;
            // align-items: center;
            .btn {
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                vertical-align: center;

                margin-right: pxToRem(44px);
                height: pxToRem(69px);
            }
            .gametype {
                background-image: url("../images/club/btn_gametype.png");
                width: pxToRem(100px);
            }
            .create {
                background-image: url("../images/club/btn_create.png");
                width: pxToRem(60px);
            }
            .score {
                background-image: url("../images/club/btn_score.png");
                width: pxToRem(57px);
            }
            .dismiss {
                background-image: url("../images/club/btn_dismiss.png");
                width: pxToRem(79px);
            }
            .member {
                background-image: url("../images/club/btn_member.png");
                width: pxToRem(67px);
            }
            .found {
                background-image: url("../images/club/btn_found.png");
                width: pxToRem(70px);
            }
            .cfdf {
                background-image: url("../images/club/btn_cfdf.png");
                width: pxToRem(99px);
            }
            .jfph {
                background-image: url("../images/club/btn_jfph.png");
                width: pxToRem(100px);
            }
            .sf {
                background-image: url("../images/club/btn_sf.png");
                width: pxToRem(69px);
            }
            .detail {
                background-image: url("../images/club/btn_detail.png");
                width: pxToRem(52px);
                margin-right: -5px;
            }
        }
        @at-root .room-groups {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: pxToRem(190px);
            font-size: 0;
            .scroll-wrapper {
                width: pxToRem(580px);
                height: 100%;
                white-space:nowrap; 
                overflow: auto;
                padding: pxToRem(25px) 0 0 pxToRem(8px);
            }
            .room {
                display: inline-block;
                background: url("../images/club/bg_room.png") no-repeat center;
                background-size: contain;
                width: pxToRem(118px);
                height: pxToRem(159px);
                vertical-align: middle;
                margin-right: pxToRem(18px);
                margin-top: pxToRem(2px);
                color: #fff;
                font-size: pxToRem(17px);
                text-align: center;

                position: relative;
                &:after {
                    content: '';
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: pxToRem(98px);
                    height: pxToRem(98px);
                    position: absolute;
                    top: -1px;
                    left: -1px;
                }
                &.normal {
                    &:after {
                        background-image: url("../images/club/label_pt.png");
                    }
                }
                &.game {
                    &:after {
                        background-image: url("../images/club/label_bs.png");
                    }
                }
                &.active {
                    &:before {
                        content: '';
                        background: url("../images/club/border2.png") no-repeat center;
                        background-size: contain;
                        width: pxToRem(118px);
                        height: pxToRem(185px);

                        position: absolute;
                        bottom: pxToRem(2px);
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }

            .my-info {
                &.active {
                    &:before {
                        content: '';
                        width: pxToRem(118px);
                        height: pxToRem(161px);
                        background: url("../images/club/border1.png") no-repeat center;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                } 
                .grade {
                    font-size: pxToRem(20px);
                    padding-top: pxToRem(10px);
                }
            }

           .icon-roomcard {
               background: url("../images/club/roomcard.png") no-repeat center;
               background-size: contain;
               width: pxToRem(120px);
               height: pxToRem(123px);
               position: absolute;
               bottom: pxToRem(12px);
               left: pxToRem(-8px);
           }
           .icon-cup {
               @extend .icon-roomcard;
                background: url("../images/club/cup.png") no-repeat center;
                background-size: contain;
                width: pxToRem(131px);
                height: pxToRem(126px);
            }
            .add {
                position: absolute;
                right: pxToRem(20px);
                bottom: pxToRem(2px);
                &:after {
                    content: '';
                    background: url("../images/club/add.png") no-repeat center;
                    background-size: contain;
                    width: pxToRem(83px);
                    height: pxToRem(83px);

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }
        }
        .info-avator-wrapper {
            width: pxToRem(90px);
            height: pxToRem(90px);
            margin: pxToRem(6px) auto 0;
        }
    }

    @at-root .create-room-popup {
        .game-list-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            @at-root .icon-select {
                display: block;
                background: url("../images/club/select.png") no-repeat center;
                background-size: contain;
                width: pxToRem(64px); 
                height: pxToRem(64px);
                &.hide {
                    transform: scale(-1, -1);
                }
            }
            .game-list {
                position: relative;
                background: url("../images/club/bg_room.png") no-repeat center;
                background-size: 100% 100%;
                width: pxToRem(218px);
                height: pxToRem(320px);
                font-size: pxToRem(32px);
                color: #fff;
                font-weight: bold;
                text-shadow: 0 1px rgba(195,132,87,1), 1px 0 rgba(195,132,87,1), -1px 0 rgba(195,132,87,1), 0 -1px rgba(195,132,87,1);
                box-sizing: border-box;
                .game-list-scroll {
                    position: absolute;
                    top: pxToRem(20px);
                    bottom: pxToRem(25px);
                    right: pxToRem(18px);
                    left: pxToRem(18px);
                    box-sizing: border-box;
                    overflow: auto;
                }
                .game-list-item {
                    margin-bottom: pxToRem(20px);
                    height: pxToRem(46px);
                    line-height: pxToRem(46px);
                    &.active {
                        background: url("../images/club/select_active.png") no-repeat center;
                        background-size: 100% 100%;
                    }
                }
            }

        }
        .btn-save {
            background:url("../images//club/btn_save.png") no-repeat center;
            background-size: contain;
            width: pxToRem(274px);
            height: pxToRem(87px);
            margin: pxToRem(30px) auto 0;
        }
    }
}

.popup-input-dialog {
    display: block;
    .popup-content {
        width: pxToRem(664px);
        height: pxToRem(470px);
        background-size: 100% 100%;
        .icon-close {
            top: 0;
            right: 0;
            transform: translate(30%, -20%);
        }
        .icon-title {
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: pxToRem(60px);
            margin: pxToRem(74px) auto pxToRem(69px);
        }
        // .txt-create-club {
        //     background-image: url("../images/club/txt_create_club.png");
        // }
        .input-wrapper {
            text-align: center;
        }
        .common-input {
            width: pxToRem(298px);
            height: pxToRem(70px); 
            color: #E1E1E1;
        }
        .btn-confirm-yellow {
            margin: pxToRem(82px) auto 0;
        }
    }
}


.create-join-club {
    .masker {
        background-color: transparent !important;
    }
    .btns-group {
        width: pxToRem(210px);
        height: pxToRem(164px);
        position: absolute;
        bottom: pxToRem(102px);
        right: pxToRem(29px);
        left: unset;
        top: unset;
        transform: none;
    }
    .btn-create-club {
        background: url("../images/club//btn_create_club.png") no-repeat center;
        background-size: contain;
        width: pxToRem(180px);
        height: pxToRem(57px);
        margin-bottom: pxToRem(8px);
    }
    .btn-join-club {
        @extend .btn-create-club;
        background: url("../images/club//btn_join_club.png") no-repeat center;
        background-size: contain;
    }
}
// 解散
.popup-dismiss {
    .popup-content {
        background: url("../images/club/bg_dismiss.png") no-repeat center;
        background-size: contain;
        width: pxToRem(672px);
        height: pxToRem(563px);
        .icon-close {
            top: pxToRem(26px);
            right: pxToRem(11px);
        }
        .input-wrapper {
            background:rgba(71,42,26,1);
            // box-shadow:0px pxToRem(3px) pxToRem(5px) 0px rgba(51,33,22,0.92);
            border-radius: pxToRem(10px);
            width: pxToRem(250px);
            height: pxToRem(64px);

            position: absolute;
            top: pxToRem(119px);
            left: pxToRem(207px);
            input {
                background: transparent;
                color: #fff;
                font-size: pxToRem(28px);
                width: 100%;
                padding: 0 pxToRem(16px);
            }
        }
        
        .checkbox-radio-wrapper {
            position: absolute;
            bottom: pxToRem(272px);
            left: pxToRem(37px);

        }
        .checkbox2 {
            left: pxToRem(364px);
        }
        .checkbox3 {
            bottom: pxToRem(157px);
        }
        .checkbox4 {
            left: pxToRem(364px);
            bottom: pxToRem(157px);
        }
        
        
    }
    .btn-dismiss-save {
        background: url("../images/club/btn_dismiss_save.png") no-repeat center;
        background-size: contain;
        width: pxToRem(178px);
        height: pxToRem(75px);
        
        position: absolute;
        top: pxToRem(113px);
        right: pxToRem(16px);
    }
    .btn-dismiss {
        width: pxToRem(280px);
        height: pxToRem(86px);
        
        position: absolute;
        bottom: pxToRem(34px);
        left: pxToRem(34px); 
    }
    .btn-confirm {
        @extend .btn-dismiss;
        left: unset;
        right: pxToRem(34px);
    }
}
// 后面多个弹窗公用部分
.popup-multi {
    .icon-close {
        top: pxToRem(-39px);
        right: pxToRem(-30px);
    }
    .icon-title {
        position: absolute;
        display: block;
        background-repeat:no-repeat;
        background-position: center;
        background-size: contain;
        width:100%;
        // height: percent(52, 950);
        // top: percent(44, 950);
    }
    .popup-content {
        background: url("../images/club/m_bg_pop.png") no-repeat center;
        background-size: 100% 100%;
    }
    .popup-content-main {
        position: absolute;
        background-color: rgba(55, 33, 33, .58);
        box-shadow: 0 0 3px 0 #290b0b inset;
        border-radius: 5px;
    }
    .display-wrapper {
        display: inline-block;
        background:rgba(71,42,26,1);
        box-shadow:0px pxToRem(3px) pxToRem(5px) 0px rgba(51,33,22,0.92);
        border-radius: pxToRem(10px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-group {
        position: absolute;
        bottom: 0;
        left: pxToRem(29px);
        right: pxToRem(46px);
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
}
// 群成员
.popup-members {
    @extend .popup-multi;
    .popup-content {
        width: pxToRem(728px);
        height: percent(950);
        .txt-member {
            height: percent(52, 950);
            top: percent(44, 950);
            background-image: url("../images/club/m_title.png");
        }
        @at-root .member-list {
            width: pxToRem(677px);
            left: pxToRem(24px);
            right: pxToRem(30px);
            top: percent(116, 950);
            bottom: percent(20, 950);
            
            overflow: auto;
            @at-root .member-item {
                width: pxToRem(674px);
                height: pxToRem(158px);
                background: url("../images/club/m_bg_item.png") no-repeat center;
                background-size: 100% 100%;
                margin: 0 auto;
                display: flex;
                position: relative;
                &.owner {
                    &:after {
                        content: '';
                        background: url("../images/club/m_label_owner.png") no-repeat center;
                        background-size: contain; 
                        width: pxToRem(98px);
                        height: pxToRem(98px);
                        position: absolute;
                        top: pxToRem(-2px);
                        left: pxToRem(-2px);
                    }
                }
                .info-avator-wrapper {
                    margin: pxToRem(22px) pxToRem(23px) pxToRem(14px) pxToRem(37px);
                }
                .member-info {
                    p {
                        color: rgba(107, 78, 113, 1);
                        font-size: pxToRem(34px);
                        height: pxToRem(79px);
                        line-height: pxToRem(79px);
                    }
                }
                .btn-remove {
                    background: url("../images/club/m_btn_remove.png") no-repeat center;
                    background-size: contain;
                    width: pxToRem(160px);
                    height: pxToRem(75px);

                    position: absolute;
                    top: 50%;
                    right: pxToRem(13px);
                    transform: translate(0, -50%);
                }
            }
            .list-loading {
                display: none;
                position: relative;
                height: pxToRem(80px);
            }
        }
    }
    .icon-close {
        top: pxToRem(-45px);
        right: pxToRem(-18px);
    }
}
// 俱乐部基金
.popup-found {
    @extend .popup-multi;
    .popup-content {
        width: pxToRem(630px);
        height: percent(823);
    }
    .txt-club-found {
        height: percent(52, 823);
        top: percent(44, 823);
        background-image: url("../images/club/txt_club_found.png");
    }
    .popup-content-main {
        width: pxToRem(526px);
        left: pxToRem(52px);
        right: pxToRem(52px);
        top: percent(147, 823);
        bottom: percent(144, 823);

        font-size: pxToRem(35px);
        line-height: pxToRem(60px);
        color: #fff;
        text-align: justify;

        padding: pxToRem(23px) pxToRem(18px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .row1 {
            position: relative;
        }
        .status {
            float: right;
            color: #6ACB54;
        }
        .row2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .display-wrapper {
            width: pxToRem(223px);
            height:pxToRem(54px);
            margin-left: pxToRem(14px);
        }
    }
    .btn-group {
        height: percent(144, 823);
    }
    
    .btn-found-recharge {
        background: url("../images//club/btn_found_recharge.png") no-repeat center;
        background-size: contain;
        width: pxToRem(217px);
        height: percent(66, 144); 
    }

    .btn-found-detail {
        background: url("../images//club/btn_found_detail.png") no-repeat center;
        background-size: contain;
        width: pxToRem(217px);
        height: percent(66, 144); 
    }

}
// 账单明细
.popup-found-detail {
    @extend .popup-multi;
    .popup-content {
        width: pxToRem(720px);
        height: percent(1026);
    }
    .txt-found-detail {
        height: percent(52, 1026);
        top: percent(44, 1026);
        background-image: url("../images/club/txt_found_detail.png");
    }
    .popup-content-main {
        width: pxToRem(628px);
        left: pxToRem(45px);
        right: pxToRem(46px);
        top: percent(119, 1026);
        bottom: percent(98, 1026);
        .list-scroll {
            position: absolute;
            top: pxToRem(75px);
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: auto;
        }
        .loadmore {
            height: pxToRem(118px);
            line-height: pxToRem(118px);
            text-align: center;
            color: #DDC4B1;
            font-size: pxToRem(30px);
        }
        .nomore {
            background: url("../images/club/bg_detail_bottom.png") no-repeat center;
            background-size: contain;
            width: pxToRem(302px);
            height: pxToRem(39px);
            line-height: pxToRem(39px);
            font-size: pxToRem(30px);
            color: #C39581;
            text-align: center;   
            margin: pxToRem(40px) auto;      
        }
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 pxToRem(16px);
        text-align: center;
        &.th {
            color: #EAC3AA;
            height: pxToRem(75px);
            line-height: pxToRem(75px);
            font-size: pxToRem(35px);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        &.tr {
            color: #fff;
            height: pxToRem(114px);
            line-height: pxToRem(114px);
            font-size: pxToRem(24px);
            background-color: #352121;
            margin-bottom: pxToRem(10px);
            
        }
        &>div {
            &:first-of-type {
                width: pxToRem(120px);
            }
            &:nth-of-type(2) {
                width: pxToRem(120px);
            }
            &:nth-of-type(3) {
                width: pxToRem(190px);
            }
            &:nth-of-type(4) {
                flex: 1;
                padding-left: pxToRem(26px);
                text-align: left;
            }
        }
    }
}
// 抽分调分
.popup-cfdf {
    @extend .popup-multi;
    .popup-content {
        width: pxToRem(646px);
        height: percent(881);
    }
    .txt-limit {
        height: percent(52, 881);
        top: percent(44, 881);
        background-image: url("../images/club/txt_limit.png");
    }
    .popup-content-main {
        left: pxToRem(54px);
        right: pxToRem(61px);
        top: percent(113, 881);
        bottom: percent(120, 881);
        padding: pxToRem(55px) 0;
        
    }
    .display-wrapper {
        position: relative;
        width: pxToRem(248px);
        height:pxToRem(59px);
        &.select {
            width: pxToRem(148px);
            .icon-select {
                position: absolute;
                // top: 50%;
                top: 0;
                right: pxToRem(-44px);
                // transform: translate(0, -50%);
            }
        }
    }
    .row {
        display: flex;
        color: #fff;
        font-size: pxToRem(30px);
        padding: 0 pxToRem(26px) pxToRem(26px);
        &>div:first-of-type {
            width: pxToRem(213px);
        }
    }
    .btn-group {
        justify-content: center;
        bottom: percent(32, 881);
    }
    
}

.jfph-panel {
    position: absolute;
    top: pxToRem(243px);
    bottom: pxToRem(266px);
    left: 0;
    right: 0;
    background: url("../images/mycard/bg_mycard.png") no-repeat center;
    background: cover;
    .panel-content {
        position: relative;
        padding-top: pxToRem(54px);
        .rank-item {
            height: pxToRem(150px);
            background: url("../images/club/m_bg_item.png") no-repeat center;
            background-size: 100% 100%;
            .row {
                height: pxToRem(75px);
            }
        }
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: pxToRem(27px);
        color: #6B4E71;
        &.rank-th {
            font-size: pxToRem(30px);
            color: #fff;
            height: pxToRem(54px);
            background: url("../images/mycard/bg_btns.png") no-repeat center;
            background-size: 100% 100%;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        &>div {
            &:nth-of-type(1) {
                width: pxToRem(81px);
            }
            &:nth-of-type(2) {
                flex: 1;
            }
            &:nth-of-type(3) {
                width: pxToRem(64px);
            }
            &:nth-of-type(4) {
                width: pxToRem(132px);
            }
            &:nth-of-type(5) {
                width: pxToRem(120px);
            }
            &:nth-of-type(6) {
                width: pxToRem(113px);
            }
            &:nth-of-type(7) {
                width: pxToRem(119px);
            }
        }
    }
}
.hidden {
    display: none !important;
}
// icon
