@charset "UTF-8";
@import "variables";
@import "../../../sass/func";

.main-content {
  overflow: hidden;
  position: relative;
  background-size: 100% 100%;
}
.ab-top-wrapper {
  position: absolute;
  top: percent(15);
  right: pxToRem(24px);
  height: percent(72);
  width: 100%;
  text-align: right;
  .ab-top-item {
    width: pxToRem(69px);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .icon-voice {
    background-image: url("../images/anbao/icon_voice.png");
  }
  .icon-gz {
    background-image: url("../images/anbao/txt_gz.png");
  }
  .icon-dt {
    background-image: url("../images/anbao/txt_dt.png");
  }
}
.ab-txt {
  position: absolute;
  top: percent(92);
  left: 50%;
  @include background("../images/anbao/icon_txt.png", 444px, 73px);
  height: percent(73);
  transform: translate(-50%, 0);
  &.small {
    width: pxToRem(319px);
  }
}
.ab-room {
  position: absolute;
  top: percent(172);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: pxToRem(27px);
  margin-top: pxToRem(8px);
  line-height: pxToRem(28px);
  &>p:last-of-type {
    font-size: pxToRem(25px);
  }
  &.more {
    top: percent(25);
    left: pxToRem(100px);
    width: pxToRem(450px);
    margin-top: 0;
    font-size: pxToRem(21px);
    &>p:last-of-type {
      font-size: pxToRem(16px);
    }
  }
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.an-game-content {
  position: absolute;
  width: pxToRem(501px);
  // height: percent(522);
  height: pxToRem(522px);
  top: percent(245);
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../images/anbao/pic_game.png"), url('../images/anbao/pic_game_center.png');
  background-size: 100% 100%, pxToRem(94px) pxToRem(98px);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  z-index: 9;
  &.fact {
    background: transparent;
    transform: translate(0, 0, 9);
    z-index: 99;
  }
  &.lower {
    top: percent(276);
  }
  .row {
    font-size: 0;
    .item {
      display: inline-block;
    }
  }
  @at-root .an-game__bottom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    .row {
      // height: percent(126, 515);
      height: pxToRem(126px);
      &.slim {
        // height: percent(68, 515);
        height: pxToRem(68px);
      }
      
      .item {
        height: 100%;
        width: pxToRem(122px);
        &:first-of-type {
          width: pxToRem(68px);
        }
        &:last-of-type {
          width: pxToRem(68px);
          margin-right: -5px;
        }
      }
    }
  }
  @at-root .an-game__middle {
    @extend .center;
    width: pxToRem(225px);
    height: pxToRem(225px);
    overflow: hidden;
    z-index: 11;
      .rotate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(-45deg);
      width: pxToRem(310px);
      height: pxToRem(310px);
    }
    .row {
      width: 100%;
      height: 50%;
      .item {
        height: 100%;
        width: 50%;
        &:last-of-type {
          margin-right: -5px;
        }
      }
    }
  }
  @at-root .an-game__top {
    @extend .center;
    width: pxToRem(85px);
    height: pxToRem(85px);
    background-position: center;
    background-size: 100%;
    z-index: 12;
    // background-image: url(../images//anbao/pic_game_center.png)
  }
}


.gamer-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  &.mode16 {
    .seat {
      width:  pxToRem(74px);
      height: percent(110);
    }
  }
  &.mode20 {
    .seat {
      width:  pxToRem(74px);
      height: percent(100);
    }
  }
  &.mode30 {
    .seat {
      width:  pxToRem(74px);
      height: percent(99);
      &.small {
        width: pxToRem(50px);
        height: percent(80);
      }
    }
  }
  @at-root .seat {
    position: absolute;
    width:  pxToRem(78px);
    height: percent(128);
    max-height: pxToRem(128px);
    background: url(../images/anbao/bg_avator.png) no-repeat center;
    color: #fff;
    text-align: center;
    z-index: 200;
    &.current-user {
      // bottom: percent(68);
      // left: pxToRem(19px);
      figure {
        figcaption {
          margin-top: -4px;
        }
      }
      .score {
        margin-top: -5px;
      }
    }
    &.empty {
      &:after {
        position: absolute;
        content: '';
        background: url(../images/anbao/txt_kw.png) no-repeat center;
        background-size:  contain;
        width: pxToRem(57px);
        height: percent(117, 128);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    figure {
      position: relative;
      width: 100%;
      height: percent(95, 128);
      img {
        padding-top: pxToRem(6px);
        // width: pxToRem(65px);
        height: percent(65, 95);
      }
      figcaption {
        font-size: pxToRem(16px);
        margin-top: -4px;
      }
    }
    .score {
      font-size: 11px;
      color: #E2D33B;
      // padding-top: 3px;
      // margin-top: -5px;
    }
    .member-no {
      display: block;
      font-size: 8px;
    }
  }
}

.chip-group {
  position: absolute;
  bottom: percent(22);
  left: pxToRem(131px);
  height: percent(98);
  font-size: 0;
//   z-index: 9;
  z-index: 100;
  @at-root .chip {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: pxToRem(87px);
    height: 100%;
    margin-right: pxToRem(12px);
    &.active {
      transform: translate(0, -10%);
    }
    &.move {
      position: absolute;
      width: pxToRem(44px);
      height: pxToRem(49px);
      margin: 0;
      z-index: 9;
      &.transition {
        transition: transform .3s;
      }
    }
  }
  @at-root .chip10 {
    background-image: url(../images/anbao/chip10.png);
  }
  @at-root .chip20 {
    background-image: url(../images/anbao/chip20.png);
  }
  @at-root .chip30 {
    background-image: url(../images/anbao/chip30.png);
  }
  @at-root .chip50 {
    background-image: url(../images/anbao/chip50.png);
  }
  @at-root .chip100 {
    background-image: url(../images/anbao/chip100.png);
  }
}

.money-track-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
//   z-index: 100;
  z-index: 98;
  display: none;
  @at-root .money-track {
    position: absolute;
    top: 0;
    left: 0;
    width: pxToRem(62px);
    // height: percent(300);
    transform-origin: top;
    &.earn {
      .coins {
        animation-name: earn;
      }
    }
    .coins {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: url(../images/anbao/coins.png) no-repeat center;
      background-size: contain;
      width: pxToRem(62px);
      height: pxToRem(69px);
      animation-duration: .38s;
      animation-fill-mode: forwards; 
      animation-name: lose;  
    }
    .coins1 {
      @extend .coins;
      animation-delay: .15s;
    }
    .coins3 {
      @extend .coins;
      animation-delay: .3s;
    }
  }
}
.animated {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@-webkit-keyframes lose {
  from {
    top: 0;
    visibility: visible;
  }
  to {
    top: 100%;
    visibility: hidden;
  }
}

@keyframes lose {
  from {
    top: 0;
    visibility: visible;
  }
  to {
    top: 100%;
    visibility: hidden;
  }
}
@-webkit-keyframes earn {
  from {
    top: 100%;
    visibility: visible;
  }
  to {
    top: 0;
    visibility: hidden;
  }
}

@keyframes earn {
  from {
    top: 100%;
    visibility: visible;
  }
  to {
    top: 0;
    visibility: hidden;
  }
}

