@charset "UTF-8";
@import "variables";
@import "../../../sass/func";

.main-content {
  overflow: hidden;
  position: relative;
  background-size: 100% 100%;
}
.ab-top-wrapper {
  position: absolute;
  top: percent(15);
  right: pxToRem(24px);
  height: percent(72);
  width: 100%;
  text-align: right;
  .ab-top-item {
    width: pxToRem(69px);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .icon-voice {
    background-image: url("../images/anbao/icon_voice.png");
  }
  .icon-gz {
    background-image: url("../images/anbao/txt_gz.png");
  }
  .icon-dt {
    background-image: url("../images/anbao/txt_dt.png");
  }
}
.ab-txt {
  position: absolute;
  top: percent(92);
  left: 50%;
  @include background("../images/anbao/icon_txt.png", 444px, 73px);
  height: percent(73);
  transform: translate(-50%, 0);
}
.ab-room {
  position: absolute;
  top: percent(172);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: pxToRem(27px);
  margin-top: pxToRem(8px);
  line-height: pxToRem(28px);
  > p:last-child {
    font-size: pxToRem(25px);
  }
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.an-game-content {
  position: absolute;
  width: pxToRem(501px);
  // height: percent(522);
  height: pxToRem(522px);
  top: percent(245);
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url("../images/anbao/pic_game.png"), url('../images/anbao/pic_game_center.png');
  background-size: 100% 100%, pxToRem(94px) pxToRem(98px);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  .row {
    font-size: 0;
    .item {
      display: inline-block;
    }
  }
  @at-root .an-game__bottom {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .row {
      // height: percent(126, 515);
      height: pxToRem(126px);
      &.slim {
        // height: percent(68, 515);
        height: pxToRem(68px);
      }
      
      .item {
        height: 100%;
        width: pxToRem(122px);
        &:first-of-type {
          width: pxToRem(68px);
        }
        &:last-of-type {
          width: pxToRem(68px);
          margin-right: -5px;
        }
      }
    }
  }
  @at-root .an-game__middle {
    @extend .center;
    width: pxToRem(225px);
    height: pxToRem(225px);
    overflow: hidden;
      .rotate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(-45deg);
      width: pxToRem(310px);
      height: pxToRem(310px);
    }
    .row {
      width: 100%;
      height: 50%;
      .item {
        height: 100%;
        width: 50%;
        &:last-of-type {
          margin-right: -5px;
        }
      }
    }
  }
  @at-root .an-game__top {
    @extend .center;
    width: pxToRem(85px);
    height: pxToRem(85px);
  }
}
